::selection {
  background-color: #FF70D1;
  color: #fff;
}

body {
  font-size: .875rem;
  background-color:#f7f7f7;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 48px; /* Height of navbar */
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
 * Utilities
 */

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }


/*
 * Application
 */

a[onclick] {
  color:#007bff;
}

a[onclick]:hover {
  cursor:pointer;
}

.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }


.loading-modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('/img/Double\ Ring-2.2s-200px.svg') /* from loading.io */
                50% 50% 
                no-repeat;
}

body.loading .loading-modal {
    overflow: hidden;   
}

body.loading .loading-modal {
    display: block;
}

footer {
    font-family: 'Raleway', serif;
    background-color: rgba(0, 0, 0, 0.1);
    padding-bottom:5rem;
}

a {
    color: #2f7ea4;
}

a i {
  color: #6186d9;
}

a:hover {
    color: var(--dark);
}

table,
.table-container {
    color: #5c646c!important;
}

.mono {
    font-family: 'Source Code Pro', monospace;
    font-size: 0.8rem;
}

.page-header {
    background-color: #338cd3;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
}

.page-link,
.page-link:hover {
    color: #2f7ea4;
}
.page-item.active .page-link {
    background-color: rgba(47, 126, 164, 0.4);
        border-color: #2f7ea4;
}

.nowrap {
  white-space:nowrap;
}

.autocomplete-suggestions {
  border: 1px solid #ddd;
  background: #FFF;
  overflow: auto;
  font-family: 'Raleway', serif;
  width: 30rem;
  border-radius: 0 0 0.3rem 0.3rem;
}
.autocomplete-suggestion {
  padding: 2px 5px;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
}
.autocomplete-selected {
  background: #F0F0F0;
}
.autocomplete-suggestions strong {
  font-weight: normal;
  color: #3399FF;
}
.autocomplete-group {
  padding: 2px 5px;
  font-size:1.3rem;
}
.autocomplete-group strong {
  display: block;
  border-bottom: 1px solid #000;
}

.custom-file-control, .form-control, .is-focused .custom-file-control, .is-focused .form-control {
  background-image: linear-gradient(0deg,#245cb0 2px, rgba(0,150,136,0) 0),
                    linear-gradient(0deg,rgba(0,0,0,.26) 1px,transparent 0);
}

#main-search {
  background-color: #555;
  padding: 0.5rem;
  color: #eee;
  font-family: 'Raleway', serif;
}

.special-layover-btn {
  position:absolute;
  right: 2rem;
  z-index:1;
}

#header-nav {
  z-index:2;
}

.word-break-all {
  word-break: break-all;
}

.graph_container {
  width: 100%;
  height: 100vh;
}
