@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');

html, body {
    padding: 0px;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    color: #000;
}

body {
    background: #ffffff;
    background: url(/img/top.svg) top right no-repeat;
}

header {
    background: #373636;
    position: fixed;
    top: 0;
    width: 100%;
}

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 90%;
    max-width: 1350px;
    margin: auto;
}
  
header li {
    float: right;
}

header li:first-child {
    float: left;
}
  
header li a {
    display: block;
    color: white;
    text-align: center;
    padding: 22px 16px;
    text-decoration: none;
    font-weight: 600;
    font-size: 1em;
}
  
header li a:hover {
    background-color: #111;
}

.header_infobox {
    text-align: center;
    padding-top: 120px;
    max-width: 745px;
    margin: auto;
}

.header_infobox img {
    margin-bottom: 20px;
    width: 50%;
    max-width: 260px;
}

.header_infobox h2 {
    font-size: 1.5em;
    font-weight: lighter;
    margin: 10px 0px;
}

.header_infobox p {
    font-size: 1.3em;
    font-weight: bold;
    margin: 5px 0px;
}

.header_infobox .normal {
    font-size: 0.85em;
    font-weight:500;
    margin-bottom: 35px;
}

.header_infobox input[type=text] {
    width: 100%;
    padding: 15px 20px;
    margin: 45px 0px 14px 0px;
    box-sizing: border-box;
    outline: 0;
    font-size: 0.92em;
    box-shadow: 0px 0px 9px 0px rgba(157,157,157,0.28);
    border: 1px solid transparent;
    border-image: linear-gradient(to right, #44e05d , #c8ebd0);
    background: #fbfbfb;
    border-image-slice: 1;
    -webkit-transition: background 0.25s;
    -moz-transition: background 0.25s;
    -ms-transition: background 0.25s;
    -o-transition: background 0.25s;
    transition: background 0.25s;
}

.header_infobox input[type=text]:active, .header_infobox input[type=text]:focus {
    background: #ffffff;
    border-image: linear-gradient(to right, #44e05d , #44e05d);
    -webkit-transition: background 0.25s;
    -moz-transition: background 0.25s;
    -ms-transition: background 0.25s;
    -o-transition: background 0.25s;
    transition: background 0.25s;
}

.row {
    max-width: 1350px;
    margin: auto;
}

table {
    width: 100%;
}
  
th, td {
    text-align: left;
    padding: 12px 10px;
}
  
tr:nth-child(even) {
    background-color: #f9f9f9;
}

td a.txid {
    color: #3caed4;
    text-decoration: none;
    font-family: 'Source Code Pro', monospace;
}

td a.address {
    color: #3caed4;
    text-decoration: none;
    font-family: 'Source Code Pro', monospace;
}

td a.tokenid {
    color: #3caed4;
    text-decoration: none;
    font-family: 'Source Code Pro', monospace;
}

th.amount {
    text-align:right;
}
td.amount {
    text-align:right;
    font-family: 'Source Code Pro', monospace;
}

a {
    color: #3caed4;
    text-decoration: none;
    outline: none;
}

.normal a {
    color: #0a6b8c;
}

.paginate_button {
    display: inline-block;
    padding: 10px;
    color: #505050;
}

.active {
    border-bottom: 3px solid #3DB474;
}

.pagination {
    text-align: center;
}

.rounded_row {
    max-width: 1350px;
    margin: auto;
    margin-top: 13px;
    background: #ffffff;
    border: 1px solid rgba(0,0,0,.125);
    padding: 0px 15px 10px 15px;
    border-radius: 0px;
    box-sizing: border-box;
    -webkit-box-shadow: 0 1px 2px rgba(60,64,67,.15), 0 1px 3px 1px rgba(60,64,67,.1);
    box-shadow: 0 1px 2px rgba(60,64,67,.15), 0 1px 3px 1px rgba(60,64,67,.1);
}

.input_output {
    margin: auto;
    margin-bottom: 10px;
}

.transaction_box {
    max-width: 1350px;
    margin: auto;
    margin-top: 10px;
    background: #ffffff;
    border: 1px solid rgba(0,0,0,.125);
    padding: 0px 15px 10px 15px;
    box-sizing: border-box;
    overflow: auto;
    -webkit-box-shadow: 0 1px 2px rgba(60,64,67,.15), 0 1px 3px 1px rgba(60,64,67,.1);
    box-shadow: 0 1px 2px rgba(60,64,67,.15), 0 1px 3px 1px rgba(60,64,67,.1);
}

.button {
    display: inline-block;
    font-weight: 500;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: .46875rem 1rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.155rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.button_red {
    border-color: currentColor;
    color: #3f51b5;
    background-color: transparent;
    border: 1px solid #3f51b5;
}

.button_red:hover {
    border: 1px solid rgb(239, 43, 32);
    color: rgb(239, 43, 32);
}

.button_green {
    border-color: currentColor;
    color: #3f51b5;
    background-color: transparent;
    border: 1px solid #3f51b5;
}

.button_green:hover {
    border: 1px solid rgb(52, 197, 77);
    color: rgb(52, 197, 77);
}

.right {
    float: right;
}

.left {
    float: left;
}

h6 {
    font-size: 0.85em;
    color: #464646;
    font-weight: unset;
    margin: 17px 0px;
}

<<<<<<< HEAD
=======
.autocomplete-suggestions {
    color: #000;
    background: #f5f5f5;
    padding: 10px 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 100%;
    max-width: 745px;
    box-sizing: border-box;
}

.autocomplete-suggestion:hover {
    cursor: pointer;
    background: #ffffff;
}

.autocomplete-group {
    color: #000;
    font-size: 1em;
    font-weight: bold;
    margin-top: 5px;
}

.autocomplete-suggestion {
    padding: 2px 2px;
    font-size: 0.9em;
}

.dataTables_info {
    margin-top: 10px;
}

.super-wrapper {
    margin-top: 63px;
    width: 95%;
}

.graph_container {
    width:100%;
    height:100vh;
}

.loading-modal {
    -webkit-transition: opacity 0.25s;
    -moz-transition: opacity 0.25s;
    -ms-transition: opacity 0.25s;
    -o-transition: opacity 0.25s;
    transition: opacity 0.25s;
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba( 255, 255, 255, .95 );
}

html.loading .loading-modal {
    overflow: hidden;   
}

html.loading .loading-modal {
    display: block;
}

.loading_dank_memes {
    text-align: center;
    margin-top: 20vh;
}

main.container-fluid {
    padding-top: 1px;
}

.rounded_row h3::after {
    content: "";
    display: block;
    width: 73px;
    height: 5px;
    margin-top: 6px;
    background-color: #5dbc6c;
}

.col-sm-12 {
    overflow: auto
}

.table-responsive {
    overflow: auto;
}
