@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');

html, body {
    padding: 0px;
    margin: 0px;
    font-family: 'Cabin', sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
    margin:0;
    font-family: 'Montserrat', sans-serif;
}

::selection {
    background-color: #60bd6c;
    color: #fff;
}

/* Layout */
.row {
    margin: auto;
    padding: 10px
}
.super-wrapper {
    width: 80vw;
    margin: 0px auto;
}
.container-page {
    padding-top: 120px;
}

.rounded_row {
    margin: 20px 10px;
    background: #ffffff;
    padding: 30px;
    border-radius: 3px;
    box-sizing: border-box;
    -webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.2);
}

.rounded_row_50percent_container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: stretch;
}

.rounded_row_50percent_container .rounded_row {
    flex: 1;
    flex-basis: 320px;
}

.rounded_row_50percent_container .rounded_row .graph {
    flex-basis: 550px;
}

.right {
    float: right;
}

.left {
    float: left;
}

.align-center {
    margin: 0 auto;
    text-align: center;
}

/* Buttons and Links */
a {
    color: #000000;
    text-decoration: none;
    outline: none;
}
a:hover, a.txid:hover, a.tokenid:hover { text-decoration: underline; }

.button {
    display: inline-block;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: .75rem 1.5rem;
    font-size: .8rem;
    background-color: #60bd6c;
    color: #FFF;
    line-height: 1.5;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 50px;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    -webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.2);
}
.button:hover {
    text-decoration: none;
    background-color: #6fda7d;
}
.button-large {
    padding: 1rem 2rem;
    margin-top: 2em;
}

.button-hamburger {
    padding: 0.4rem 1.2rem;
    margin-top: 9px;
    height: 100%;
    border-radius: 5%;
    background-color: rgba(255, 255, 255, 0.2);
    background-image: url(/img/search_icon.svg);
    filter: invert(100%);
    color: rgba(0,0,0,0);
    background-size: 70%;
    background-position: center center;
    background-repeat: no-repeat;
    background-blend-mode: color-burn;
    box-shadow: 0px 1px 2px 0px rgba(255, 255, 255, 1);
    position: absolute;
    top: -25px;
    right: 0px;
}

.button-hamburger:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.hamburger-hide {
    display: none!important;
}

.hamburger-show {
    display: block!important;
}


a button.button.left:first-child {
    margin-right:1rem;
}

/* Typography */
h3, .table-container thead h3 {
    font-size: 28px;
    margin-bottom: 1.6em;
}
h6 {
    font-size: 1em;
    color: #5b5b5b;
    font-weight: unset;
    margin: 17px 0px;
}

body {
    background: #f9f9f9;
}


/* Header */
header {
    background-color: #06212A;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100000000;
    border-bottom: 1px solid #054458;
}

header.loading {
    display: none;
}

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 90%;
    margin: auto;
}

header #top-menu li.search {
    float: right;
}
  
header li.search {
    margin-right: 10px;
}

.search.show-mobile {
    padding-bottom: 1rem;
}

header #top-menu {
    padding: 10px 0;
}

header #top-menu a {
    color: #FFF;
    text-decoration: none;
    font-weight: 600;
    font-size: 1em;
    padding: 22px 16px;
}

header #top-menu a:hover {
    color: #EEE;
}

header #top-menu li a {
    display: block;
    float: left;
    text-align: center;
}

#top-menu #header-logo {
    background: url('/img/slp-logo-white.svg') no-repeat;
    background-position: center;
    padding: 35px 25px 25px 25px;
    margin-right: 20px;
}
  
header input[type='text'] {
    background-color: rgb(253, 253, 253);
    text-align: left;
    color: #000;
    border: 0px;
    outline: 0px;
    width:24rem;
    font-weight:200;
    height: 44px;
    margin-top: 9px;
    padding: 0px 10px;
    font-size: 0.9em;
}

header li input::placeholder {
    color: rgb(114, 114, 114);
}

.header_infobox {
    background-color: #07212b;
    padding: 60px 5% 100px 10%;
    /*
    text-align: center;
    margin: auto;
    background: url('/img/bg-header-infobox.png') no-repeat;
    background-size: cover;
    */
}

.header_infobox p a {
    color: #ddd;
    text-decoration: underline;
}

.header_infobox img {
    width: 120px;
}

.header_infobox h1 {
    font-size: 3.2em;
    font-weight: 700;
    margin-bottom: .5em;
    color: #60bd6c;
}

.header_infobox h2 {
    font-size: 1.7em;
    font-weight: 400;
    color: #FFF;
}

.header_infobox p {
    color: #e8e8e8;
}

.header_infobox .normal {
    font-size: 0.85em;
    font-weight:500;
    margin-bottom: 35px;
}

.header_infobox input[type=text] {
    padding: 20px;
    margin: 45px 0px 10px 0px;
    box-sizing: border-box;
    outline: 0;
    font-size: 1em;
    width: 65%;
    border: none;
    box-shadow: 0px 0px 4px 0px rgba(157,157,157,0.28);
    background: #fbfbfb;
    border-image-slice: 1;
    -webkit-transition: background 0.25s;
    -moz-transition: background 0.25s;
    -ms-transition: background 0.25s;
    -o-transition: background 0.25s;
    transition: background 0.25s;
}

.header_infobox input[type=text]:active, .header_infobox input[type=text]:focus {
    background: #ffffff;
    -webkit-transition: background 0.25s;
    -moz-transition: background 0.25s;
    -ms-transition: background 0.25s;
    -o-transition: background 0.25s;
    transition: background 0.25s;
    -webkit-box-shadow: 0px 0px 2px 0px rgba(96,189,108,1);
    -moz-box-shadow: 0px 0px 2px 0px rgba(96,189,108,1);
    box-shadow: 0px 0px 2px 0px rgba(96,189,108,1);
}

.header_infobox .button {
    margin: 1rem;
}

/* Tables */
table {
    width: 100%;
    background-color: #fff;
}
  
th, td {
    text-align: left;
    padding: 12px 10px;
}
  
tr:nth-child(even) {
    background-color: #eaeaea;
}
tr:nth-child(odd) {
    background-color: #fff;
}

td a.txid, td a.address, td a.tokenid {
    text-decoration: none;
    font-family: 'Source Code Pro', monospace;
}

th.amount {
    text-align:right;
}
td.amount {
    text-align:right;
    font-family: 'Source Code Pro', monospace;
}

tr.burnt-tx {
    background:#ffd1d1;
}

.paginate_button {
    display: inline-block;
    padding: 10px;
    color: #FFF;
    cursor: pointer;
}

.paginate_button.current {
    border-bottom: 3px solid #3DB474;
}

.pagination {
  display: inline-block;
  padding: 0;
  margin: 8px 0;
  border-radius: 0;
  text-align: center;
  font-size:0.8rem;
  border: 1px solid #eee;
  white-space:nowrap;
}

.pagination li {
    display:inline-block;
}
.pagination a {
  color: black;
  float: left;
  padding: 8px;
  text-decoration: none;
  transition: background-color .3s;
  cursor:pointer;
  min-width: 2rem;
  background-color:#fff;
}

.pagination li.active a {
  background-color: #60bd6c;
  color: #FFF;
}

.pagination li:hover:not(.active) a {
  background-color: #ddd;
}

.input_output {
    margin: auto;
    margin-bottom: 10px;
}

.transaction_box {
    max-width: 100%;
    background: #ffffff;
    padding: 30px;
    margin: 120px 10px 20px 10px;
    box-sizing: border-box;
    overflow: auto;
    border-radius: 3px;
    -webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.2);
}

.autocomplete-suggestions {
    background-color:#010608;
    color:#fff;
    padding: 10px 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    font-family: 'Source Code Pro', monospace;
    overflow:scroll;
}

.header_infobox .suggestions-container img {
    width: initial;
    height: initial;
}

.suggestions-container .autocomplete-suggestion .cashaccount-icon-small {
    width: 1em;
}

.autocomplete-suggestion:hover {
    cursor: pointer;
}

.autocomplete-selected {
    background-color:#04171f;
}

.autocomplete-group {
    color: #fff;
    font-size: 1em;
    font-weight: bold;
    margin-top: 5px;
}

.autocomplete-suggestion {
    padding: 1rem;
    font-size: 14px;
    border-bottom:1px solid rgb(15, 19, 18);
}

.dataTables_info {
    margin-top: 10px;
}

.graph_container {
    width:100%;
    height:100vh;
}

.loading-modal {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba( 255, 255, 255, .95 );
}

html.loading {
    cursor: progress;
}
html.loading .loading-modal {
    overflow: hidden;   
    display: block;
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;

}

@keyframes fadein {
    0% {
        background: rgba( 255, 255, 255, 0.0 );
        opacity: 0.0;
    }
    50% {
        background: rgba( 255, 255, 255, 0.2 );
        opacity: 0.5;
    }
    75% {
        background: rgba( 255, 255, 255, 0.5 );
        opacity: 0.3;
    }
    100% {
        background: rgba( 255, 255, 255, 0.95 );
        opacity: 1;
    }
}

.loading_dank_memes {
    text-align: center;
    margin-top: 20vh;
}


html.full-width .super-wrapper {
    width:95vw;
}

html.full-width .row {
    max-width: initial;
}

.loading_dank_memes {
    text-align: center;
    margin-top: 20vh;
}

html.full-width .row {
    max-width: initial;
}

.rounded_row h3::after {
    content: "";
    display: block;
    width: 73px;
    height: 5px;
    margin-top: 6px;
    background-color: #5dbc6c;
}

.col-sm-12 {
    overflow: auto
}

.table-responsive {
    overflow: auto;
}

.table-container {
    background-color: #fff;
    position: relative;
}

.table-container thead h3 {
    white-space:nowrap;
}

.table-container .table {
    transition: opacity 0.2s;
    -webkit-transition: opacity 0.2s;
    opacity:1.0;
    font-size:0.8rem;
}
.table-container.loading .table {
    opacity: 0.4;
    cursor:progress;
    pointer-events:none;
}

#recent-transactions-table-container {
  background-color:#fff;
}

footer {
    background-color: #07212b;
    padding: 40px 3%;
    color: #fff;
    margin-top: 3rem;
}

footer a {
    color: #e8e8e8;
    text-decoration: none;
}

footer h4 {
    font-size: 1.2em;
}

footer ul {
    list-style: none;
    padding-left: 0;
}

footer ul li {
    margin-top: 0.4rem;
}

footer .row {
    overflow:hidden;
}

footer .col {
    display:inline-block;
    float:left;
    width:25%;
}
footer #logo {
    max-width: 100px;
}
.modebar--hover {
    top: 69px !important;
}
.modebar-btn--logo {
  display: none !important;
}
.main-svg {
  background: rgba(255, 255, 255, 0) !important;
}

.display-none {
    display: none;
}

#tokens-table-container #tokens-table_length {
    display: none;
}
#tokens-table-container #tokens-table_filter {
    float:right;
}
#tokens-table-container #tokens-table_filter label {
    font-size: 1.2rem;
    background-color:#fff;
}
#tokens-table-container #tokens-table_filter input {
    margin-left: 1rem;
    padding: 0.3rem;
    font-size: 1.1rem;
}
#token-stats-table tbody td {
    text-align:right;
}

.nowrap {
    white-space: nowrap;
}

html.index-page header {
    display: none;
}

#index-view-all-tokens h1 {
    width: fit-content;
    margin: 0 auto;
    border-bottom: 4px solid #62a4dd;
    border-bottom-style: inset;
    padding: 1rem;
    padding-bottom: 0.25rem;
    font-size: 1.5em;
}
#index-view-all-tokens h1:hover {
    border-bottom: 4px solid #98c5eb;
}

.clearfix {
    clear: both;
}

.flex-vcenter {
    display: flex;
    align-items: center;
}

.flex-hcenter {
    display: flex;
    justify-items: center;
}

.token-icon-small {
    width: 28px;
    height: 28px;
    margin-right:0.3rem;
}
.token-icon-small img {
    vertical-align: middle;
    width: 28px;
    height: 28px;
}

.token-icon-large {
    margin: auto;
    margin-right: 15px;
    vertical-align: middle;
    border-radius: 50%;
}

.address-qr-code {
    margin: auto;
    margin-right: 15px;
    vertical-align: middle;
}
.address-qr-code:hover {
    cursor: pointer;
}

.token-icon-large img {
    border-radius: 5px;
    max-width: 128px;
    max-height: 128px;
}

.address-qr-code img,
.address-qr-code canvas {
    image-rendering: pixelated;
    max-width: 128px;
    max-height: 128px;
}

.address-qr-code.expanded img,
.address-qr-code.expanded canvas {
    max-width: 100%;
    max-height: 100%;
}

.transaction_box .address-qr-code.expanded {
    width: 100%;
    float: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hide-desktop {
    display:none;
}
.hide-mobile {
    display:block;
}

#error-modal {
    position: absolute;
    z-index:1000000;
    width:100%;
    height:100%;
    top:0;
    left:0;
    background-color:#fff;
    text-align:center;
}

#token-exchange-title {
    font-size: 1.4rem;
    font-weight: bolder;
    background-color: #222;
    display: inline-block;
    color: #fff;
    padding: 0.7rem;
}
.exchange-icon {
    width:200px;
    height:60px;
    display:inline-block;
    margin:1rem;
    background-repeat:no-repeat;
    background-position:center center;
}

.exchange-altilly-icon {
    background-image:url('/img/altilly.png');
}
.exchange-coinex-icon {
    background-image:url('/img/coinex.png');
}
.exchange-sideshift-icon {
    background-image:url('/img/sideshift-ai.png');
    height: 71px;
}
.exchange-cryptophyl-icon {
    background-image:url('/img/cryptophyl.png');
}

#exchange-exchanges {
    text-align:center;
}
#exchange-exchanges img {
    max-width: 150px;
}
#exchange-exchanges a {
    display: inline-block;
    margin: 30px;
    padding: 20px;
}

.flash {
    -webkit-animation-name: flash-animation;
    -webkit-animation-duration: 0.8s;

    animation-name: flash-animation;
    animation-duration: 0.8s;
}

@-webkit-keyframes flash-animation {
    from { background: #75e275; }
    to   { background: default; }
}

@keyframes flash-animation {
    from { background: #75e275; }
    to   { background: default; }
}

#token-exchange-exchanges {
    text-align:center;
}

.maintenance {
    display:none;
    background-color: #f75c5c;
    text-align: center;
    padding: 0.5rem;
    border-bottom: 1px solid #e95555;
}

.cashaccount-icon-small {
    width:1em;
}
.cashaccount-step5 {
    color:#999;
    font-style: italic;
}

.plot-time-selector .active {
    text-decoration:underline;
    font-weight:bold;
    color: #60bd6c;
}
.plot-time-selector span {
    margin: 0 10px;
    font-weight: 700;
    text-transform: uppercase;
}
.plot-time-selector span:hover {
    cursor: pointer;
}

.highlight td:first-child {
    background: linear-gradient(to right, #baffa9 0%,rgba(255,255,255,0) 100%);
}

.decimal-part {
    color: #8a8a8a;
}

.suggestions-container {
    position:relative;
}

#header-search-suggestions-container .autocomplete-suggestions {
    right:0px;
}

#dividend-helper-table label {
    font-weight: bold;
}
#dividend-helper-table p {
    font-size: 0.8rem;
}
#dividend-helper-table input {
    background-color: rgb(253, 253, 253);
    text-align: left;
    font-family: 'Source Code Pro', monospace;
    color: #000;
    border: 1px solid #909090;
    outline: 0px;
    width: 34rem;
    font-weight: 200;
    height: 44px;
    margin-top: 9px;
    padding: 0px 10px;
    font-size: 0.9em;
}
#dividend-helper-table textarea {
    background-color: rgb(253, 253, 253);
    text-align: left;
    font-family: 'Source Code Pro', monospace;
    color: #000;
    border: 1px solid #909090;
    outline: 0px;
    font-weight: 200;
    margin-top: 9px;
    padding: 10px 10px;
    font-size: 0.9em;
    width: 34rem;
}

#div_results {
    text-align:center;
    font-family: 'Source Code Pro', monospace;
}

@media only screen and (max-width: 890px) {
    .container-page {
        padding-top: 200px;
    }
    .transaction_box {
        margin-top: 80px;
        margin-left:0px;
        margin-right:0px;
    }
    .rounded_row_50percent_container {
        display: block;
    }
    .rounded_row {
        overflow: auto;
        padding:10px;
        margin-left:0px;
        margin-right:0px;
    }
    .hide-desktop {
        display:block;
    }
    .hide-mobile {
        display:none;
    }
    .show-mobile {
        display:block;
    }
    header li a {
        padding: 12px 16px;
    }
    header li a.show-mobile {
        display:block;
    }
    header li.search input {
        width: max-content
    }
    .autocomplete-suggestions {
        position:fixed!important;
        top:150px!important;
        left:0!important;
        /* this must be subtracted with the top amount */
        max-height:calc(100vh - 150px)!important;
    }
    .autocomplete-suggestion {
        padding:1rem;
    }
    #main-search-suggestions-container {
        position: absolute;
        width: 100%;
        left: 0px;
    }
    #main-search-suggestions-container .autocomplete-suggestions {
        position:absolute!important;
        top:inherit!important;
        left:0px!important;
    }

    footer .col {
        width: 100%;
        text-align: center;
    }

    .transaction_box button.button {
        float:none!important;
        width:100%;
        margin-bottom:1rem;
    }

    .super-wrapper {
        width: 100%;
    }

    .row {
        padding: 0;
    }

    .transaction_box .address-qr-code,
    .transaction_box .token-icon-large
    {
        float: none;
        width: 128px;
        margin:0px auto;
    }
}

#lottie-web-react {
    display: none!important;
}
