<div class="transaction_box">
  <div class="lh-100">
    <h2 class="mb-0 text-white lh-100">Address</h2>
    <h6 class="mb-0"><%= address %></h6>
    <a href="#addressgraph/<%= address %>">
      <button type="button" class="button button_red">View AddressGraph</button>
    </a>
    <a target="_blank" href="https://explorer.bitcoin.com/bch/address/<%= address %>">
      <button type="button" class="button button_green right">View on BCH Explorer</button>
    </a>
  </div>
</div>

<div class="rounded_row">
  <div id="address-tokens-table-container" class="my-3 p-3 bg-white rounded box-shadow table-container">
    <h3 class="border-bottom border-gray pb-1 mb-3">Token Balances</h3>
    <div class="table-responsive">
      <table class="table" id="address-tokens-table">
        <thead>
          <tr>
            <th>Token Id</th>
            <th>Name</th>
            <th>Symbol</th>
            <th class="amount">Balance</th>
          </tr>
        </thead>
        <tbody>
          <tr><td>loading...</td><tr>
        </tbody>
      </table>
    </div>
    <ul class="pagination">
    </ul>
  </div>
</div>

<div class="rounded_row">
  <div id="address-transactions-table-container" class="my-3 p-3 bg-white rounded box-shadow table-container">
    <h3 class="border-bottom border-gray pb-1 mb-3">Transactions</h3>
    <div class="table-responsive">
      <table class="table" id="address-transactions-table">
        <thead>
          <tr>
            <th>Block</th>
            <th>Txid</th>
            <th>Type</th>
            <th class="amount">Amount</th>
            <th>Token</th>
          </tr>
        </thead>
        <tbody>
          <tr><td>loading...</td></tr>
        </tbody>
      </table>
      <ul class="pagination">
      </ul>
    </div>
  </div>
</div>
