<div class="transaction_box">
  <div>
    <h2>AddressGraph</h2>
    <h6><%= address %></h6>
    <a href="#address/<%= address %>">
      <button type="button" class="button button_red">Back to Address Page</button>
    </a>
    <button type="button" class="button button_red" id="reset-button">Reset Viewport</button>
  </div>
</div>

<div class="graph_container"></div>
