<div class="transaction_box">
    <div class="page-header box-shadow">
        <h2>All Tokens (<span id="all-tokens-total-tokens">...</span>)</h2>
    </div>
</div>
<div class="rounded_row">
    <div id="all-tokens-table-container" class="rounded box-shadow table-container">
      <div class="table-responsive">
        <table class="table" id="all-tokens-table">
          <thead>
            <tr>
              <th>Token Id</th>
              <th>Symbol</th>
              <th>Name</th>
              <th>Transactions</th>
              <th>Document</th>
            </tr>
          </thead>
          <tbody>
            <tr><td>Loading...</td><tr>
          </tbody>
        </table>
        <ul class="pagination">
        </ul>
      </div>
    </div>
</div>
