<div class="row super-wrapper">
  <div class="transaction_box">
    <div class="page-header box-shadow">
        <h2><span data-i18n="all_tokens">All Tokens</span> (<span id="all-tokens-total-tokens">...</span>)</h2>
    </div>
  </div>
  <div class="rounded_row">
      <div id="all-tokens-table-container" class="rounded box-shadow table-container">
        <div class="table-responsive">
          <table class="table" id="all-tokens-table">
            <thead>
              <tr>
                <th data-i18n="token_id">Token Id</th>
                <th data-i18n="symbol">Symbol</th>
                <th data-i18n="name">Name</th>
                <th data-i18n="transactions">Transactions</th>
                <th data-i18n="document">Document</th>
              </tr>
            </thead>
            <tbody>
              <tr><td data-i18n="loading">Loading...</td><tr>
            </tbody>
          </table>
          <ul class="pagination">
          </ul>
        </div>
      </div>
  </div>
</div>
