<%- contentFor('body') %>
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Simple Ledger Explorer</h1>
</div>
<h2>Tokens</h2>
<div class="table-responsive">
  <table class="table table-striped table-sm" id="tokens-table">
    <thead>
      <tr>
        <th>tokenId</th>
        <th>name</th>
        <th>symbol</th>
        <th>circulatingSupply</th>
        <th>burnedQty</th>
        <th>mintedQty</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>

<script src="js/all_tokens.js"></script>
