<%- contentFor('body') %>
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">All Tokens</h1>
</div>
<div id="tokens-table-container"></div>

<script>app.init_all_tokens_page();</script>
