<div class="row super-wrapper">
  <div class="transaction_box">
    <div class="page-header box-shadow">
      <h2 data-i18n="dividend_helper"></h2>
    </div>
  </div>
  <div class="rounded_row">
    <div class="rounded box-shadow table-container">
      <table id="dividend-helper-table">
        <tr>
          <td>
            <label for="div_tokenid" data-i18n="token_id"></label>
            <p data-i18n="dividend_helper_tokenid_subtext"></p>
          </td>
          <td>
            <input id="div_tokenid" type="text" placeholder="7f8889682d57369ed0e32336f8b7e0ffec625a35cca183f4e81fde4e71a538a1" pattern="[0-9a-f]{32}">
          </td>
        </tr>
        <tr>
          <td>
            <label for="div_bch" data-i18n="bch"></label>
            <p data-i18n="dividend_helper_bch_subtext"></p>
          </td>
          <td>
            <input id="div_bch" type="number" value="1" min="0" max="21000000" step="0.00000001">
          </td>
        </tr>
        <tr>
          <td>
            <label for="div_ignore_addresses" data-i18n="ignore_addresses"></label>
            <p data-i18n="dividend_helper_ignore_addresses_subtext"></p>
          </td>
          <td>
            <textarea id="div_ignore_addresses" placeholder="simpleledger:qpygaungmfry8xzxphj4pw24kk5l9vfxlymlyey6rp"></textarea>
          </td>
        </tr>
        <tr>
          <td>
            <button id="div_calculate" class="button" data-i18n="calculate"></button>
            <p data-i18n="dividend_helper_calculate_subtext"></p>
          </td>
          <td></td>
        </tr>
      </table>
  
      <pre id="div_results"></pre>
    </div>
  </div>
</div>
