<div class="d-flex align-items-center p-3 my-3 text-white-50 page-header rounded box-shadow">
  <div class="lh-100">
    <h2 class="mb-0 text-white lh-100">404 Not Found :(</h2>
  </div>
</div>
<div class="my-3 p-3 bg-white rounded box-shadow">
  <p>Please try another search or go back in your browser, this may have been a bug. If it was, please report it!</p>
</div>
