<div class="transaction_box">
  <h1 data-i18n="bad_address_page_header"></h1>
  <h6><%= address %></h6>
  <p data-i18n="bad_address_page_subtext"></p>
  <hr>
  <p>
    <a class="button" onclick="window.history.back()" role="button" data-i18n="go_back"></a>
    <a target="_blank" href="https://explorer.bitcoin.com/bch/address/<%= address %>">
      <button type="button" class="button right" data-i18n="view_on_bch_explorer"></button>
    </a>
  </p>
</div>
