<div class="transaction_box">
  <h1 data-i18n="no_tx_header">Transaction Not Found</h1>
  <h6><%= txid %></h6>
  <p data-i18n="no_tx_subtext">This transaction was not found in SLPDB or BitDB. It may have been very old or mispelled.</p>
  <hr>
  <p>
    <a class="button" onclick="window.history.back()" role="button" data-i18n="go_back">Go Back</a>
    <a target="_blank" href="https://explorer.bitcoin.com/bch/tx/<%= txid %>">
      <button type="button" class="button right" data-i18n="view_on_bch_explorer">View on BCH Explorer</button>
    </a>
  </p>
</div>
