<div class="transaction_box">
  <h1>NON SLP Transaction</h1>
  <h6><%= txid %></h6>
  <p>Sorry, can't find the transaction you were looking for inside SLPDB. This can occur from non-SLP inputs such as when creating a token, or from non-SLP transactions which burn tokens. You can check this transaction in a full bitcoin explorer instead.</p>
  <hr>
  <p>
    <a class="button button_red" onclick="window.history.back()" role="button">Go Back</a>
    <a target="_blank" href="https://explorer.bitcoin.com/bch/tx/<%= txid %>">
      <button type="button" class="button button_green right">View on BCH Explorer</button>
    </a>
  </p>
</div>
