<div class="transaction_box">
  <h1>404 Not Found :(</h1>
  <p>Sorry, can't find the page you were looking for.</p>
  <hr>
  <p>Please try another search or go back in your browser, this may have been a bug. If it was, please <a href="https://github.com/blockparty-sh/slp-explorer">report</a> it!</p>
  <p>
    <a class="button button_red" href="#" role="button">Go Home</a>
  </p>
</div>
