<div class="transaction_box">
  <h1 data-i18n="404_page_header"></h1>
  <p data-i18n="404_page_subtext1"></p>
  <hr>
  <p data-i18n="404_page_subtext2"></p>
  <p>
    <a class="button" href="#" role="button" data-i18n="go_home"></a>
  </p>
</div>
