<div class="transaction_box">
  <h1>Transaction Not Found</h1>
  <h6><%= txid %></h6>
  <p>This transaction was not found in SLPDB or BitDB. It may have been very old or mispelled.</p>
  <hr>
  <p>
    <a class="button button_red" onclick="window.history.back()" role="button">Go Back</a>
    <a target="_blank" href="https://explorer.bitcoin.com/bch/tx/<%= txid %>">
      <button type="button" class="button button_green right">View on BCH Explorer</button>
    </a>
  </p>
</div>
