<div class="header_infobox">
  <img src="/img/slpdb.svg">
  <h2>The Simple Ledger Protocol Explorer</h2>
  <p>browse tokens built on Bitcoin Cash</p>
  <form class="form">
    <div class="md-form index-search-wrapper">
      <input class="index-search-input form-control" type="text" placeholder="Search by txid, address or token name.." aria-label="Search" id="main-search">
    </div>
  </form>
  <p class="normal">This website is built on top of <a target="_blank" href="https://github.com/simpleledger/SLPDB">SLPDB</a>, an offshoot of <a target="_blank" href="https://github.com/fountainhead-cash/bitd">BitDB FH</a>, view code and submit issues on <a target="_blank" href="https://github.com/blockparty-sh/slp-explorer">Github</a>.<br>Get some of your own tokens at the <a href="https://simpleledger.network/">faucet</a>.</p>
</div>

<a id="index-view-all-tokens" href="#alltokens"><h1>View all tokens</h1></a>

<div class="rounded_row">
  <div id="recent-transactions-table-container" class="table-container loading">
    <h3>Latest Transactions</h3>

      <div class="table-responsive">
        <table id="recent-transactions-table">
          <thead>
            <tr>
              <th><div class="flex-hcenter">Transaction Hash</div></th>
              <th><div class="flex-hcenter">Symbol</div></th>
              <th><div class="flex-hcenter amount">Amount</div></th>
              <th><div class="flex-hcenter">Block Height</div></th>
              <th><div class="flex-hcenter">Block Time</div></th>
            </tr>
          </thead>
          <tbody>
            <tr><td>Loading...</td></tr>
          </tbody>
        </table>
      </div>
  </div>
</div>

<div class="rounded_row_50percent_container">
  <div class="rounded_row graph">
    <h3>Monthly Transaction Graph</h3>
    <div id="plot-monthly-usage" style="width:100%">Loading...</div>
  </div>

  <div class="rounded_row graph">
    <h3>Popular Tokens</h3>
    <div id="plot-token-usage" style="width:100%;">Loading...</div>
  </div>

  <div class="clearfix"></div>
</div>

<div class="rounded_row_50percent_container">
  <div class="rounded_row graph">
    <h3>Token Creation</h3>
    <div id="plot-token-creation" style="width:100%">Loading...</div>
  </div>

  <div class="rounded_row graph">
    <h3>Token Burns</h3>
    <div id="plot-token-burns" style="width:100%;">Loading...</div>
  </div>

  <div class="clearfix"></div>
</div>

