<div class="header_infobox">
  <h1 data-i18n="index_page_header"></h1>
  <h2 data-i18n="index_page_subheader"></h2>
  <form class="form">
    <div class="md-form index-search-wrapper">
      <input class="index-search-input form-control" type="text" placeholder="Search by txid, address or token name.." aria-label="Search" id="main-search">
      <div class="suggestions-container" id="main-search-suggestions-container"></div>
    </div>
  </form>
  <p class="normal" data-i18n="index_page_subtext"></p>
  <a href="#alltokens" id="index-view-all-tokens" class="button button-large align-center" data-i18n="homepage_btn_view_all_tokens"></a>
  <a href="#dividend" id="index-divided" class="button button-large align-center" data-i18n="homepage_btn_dividend_helper"></a>
</div>

<div class="row super-wrapper">
  <div class="rounded_row">
    <div id="recent-transactions-table-container" class="table-container loading">
      <h3 data-i18n="index_page_latest_transactions"></h3>

        <div class="table-responsive">
          <table id="recent-transactions-table">
            <thead>
              <tr>
                <th><div class="flex-hcenter" data-i18n="transaction_hash"></div></th>
                <th><div class="flex-hcenter" data-i18n="symbol"></div></th>
                <th><div class="flex-hcenter amount" data-i18n="amount"></div></th>
                <th><div class="flex-hcenter" data-i18n="version"></div></th>
                <th><div class="flex-hcenter" data-i18n="block_height"></div></th>
                <th><div class="flex-hcenter" data-i18n="block_time"></div></th>
              </tr>
            </thead>
            <tbody>
              <tr><td data-i18n="loading"></td></tr>
            </tbody>
          </table>
        </div>
    </div>
  </div>

  <div class="rounded_row graph">
    <h3><span data-i18n="index_page_transaction_charts"></span> (<span id="transaction-count">...</span>)</h3>
    <div class="plot-time-selector">
        <span id="plot-usage-year" data-i18n="year"></span>
        <span id="plot-usage-month" data-i18n="month"></span>
        <span id="plot-usage-week" data-i18n="week"></span>
        <span id="plot-usage-day" data-i18n="day"></span>
    </div>
    <div id="plot-usage" style="width:100%" data-i18n="loading"></div>
    <div id="plot-token-usage" style="width:100%;"></div>
  </div>

  <div class="clearfix"></div>
  </div>
</div>

<div class="row super-wrapper">
  <div class="rounded_row_50percent_container">
    <div class="rounded_row">
      <div id="index-tokens-table-container" class="rounded box-shadow table-container">
        <h3>Tokens Created (<span id="index-tokens-count">...</span>)</h3>
        <div class="table-responsive">
          <table class="table" id="index-tokens-table">
            <thead>
              <tr>
                <th data-i18n="token_id"></th>
                <th data-i18n="token"></th>
                <th data-i18n="block_height"></th>
                <th data-i18n="block_time"></th>
              </tr>
            </thead>
            <tbody>
              <tr><td data-i18n="loading"></td><tr>
            </tbody>
          </table>
        </div>
        <ul class="pagination">
        </ul>
      </div>
    </div>

    <div class="rounded_row">
      <div id="index-burn-history-table-container" class="rounded box-shadow table-container">
        <h3><span data-i18n="index_page_token_burns"></span> (<span id="index-burn-count">...</span>)</h3>
        <div class="table-responsive">
          <table class="table" id="index-burn-history-table">
            <thead>
              <tr>
                <th data-i18n="txid"></th>
                <th data-i18n="token"></th>
                <th class="amount" data-i18n="amount"></th>
                <th data-i18n="block_height"></th>
                <th data-i18n="block_time"></th>
              </tr>
            </thead>
            <tbody>
              <tr><td data-i18n="loading"></td></tr>
            </tbody>
          </table>
          <ul class="pagination">
          </ul>
        </div>
      </div>
    </div>

    <div class="clearfix"></div>
  </div>

  <div class="row">
    <h3 data-i18n="index_page_exchanges"></h3>
    <div id="exchange-exchanges">
      <a href="https://cryptophyl.com/?r=blockparty" target="blank"><img src="img/cryptophyl.png" /></a>
      <a href="https://sideshift.ai/a/jsKIdsWiF" target="blank"><img src="img/sideshift-ai.png" /></a>
      <a href="https://www.coinex.com/register?refer_code=c39pv" target="blank"><img src="img/coinex.png" /></a>
      <a href="https://altilly.com/" target="blank"><img src="img/altilly.png" /></a>
    </div>
  </row>
</div>
