<%- contentFor('body') %>
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Simple Ledger Explorer</h1>
</div>
<h2>Token</h2>
<div class="table-responsive">
  <table class="table table-striped table-sm" id="token-transactions-table">
    <thead class="thead-dark">
      <tr>
        <th>txid</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>

<script src="js/token.js"></script>
