<%- contentFor('body') %>
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">View Token Details</h1>
</div>
<div id="token-details-table-container"></div>
<div id="token-stats-table-container"></div>
<h2>Addresses</h2>
<div id="token-addresses-table-container"></div>
<h2>Transactions</h2>
<div id="token-transactions-table-container"></div>


<script>app.init_token_page(window.location.hash.substring(1))</script>
