<div class="rounded_row">
  <div class="lh-100">
    <h2 class="mb-0 text-white lh-100">TokenGraph</h2>
    <h6 class="mb-0"><%= token.tokenDetails.tokenIdHex %></h6>
    <a href="#token/<%= token.tokenDetails.tokenIdHex %>">
      <button type="button" class="btn btn-raised btn-warning mt-3 special-layover-btn">Back to Token Page</button>
    </a>
    <button type="button" class="btn btn-raised btn-info mt-3" id="reset-button">Reset</button>
  </div>
</div>

<div class="graph_container"></div>
