<div class="d-flex align-items-center p-3 my-3 text-white-50 page-header rounded box-shadow">
  <div class="lh-100">
    <h2 class="mb-0 text-white lh-100">TokenGraph</h2>
    <h6 class="mb-0"><%= token.tokenDetails.tokenIdHex %></h6>
    <a href="#token/<%= token.tokenDetails.tokenIdHex %>">
      <button type="button" class="btn btn-raised btn-warning special-layover-btn">Back to Token Page</button>
    </a>
  </div>
</div>

<div class="graph_container"></div>
