<div class="rounded_row">
  <div class="lh-100">
    <h2 class="mb-0 text-white lh-100">TokenGraph</h2>
    <h6 class="mb-0"><%= token.tokenDetails.tokenIdHex %></h6>
    <a href="#token/<%= token.tokenDetails.tokenIdHex %>">
      <button type="button" class="button button_red">Back to Token Page</button>
    </a>
    <button type="button" class="button button_red" id="reset-button">Reset Viewport</button>
  </div>
</div>

<div class="graph_container"></div>
