<%- contentFor('body') %>
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">View Token Details</h1>
</div>
<div id="token-details-table-container"></div>
<div id="token-stats-table-container"></div>
<div class="table-responsive">
  <table class="table table-striped table-sm" id="token-addresses-table">
    <thead class="thead-dark">
      <tr>
        <th>address</th>
        <th>satoshi balance</th>
        <th>token balance</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>
<div class="table-responsive">
  <table class="table table-striped table-sm" id="token-transactions-table">
    <thead class="thead-dark">
      <tr>
        <th>txid</th>
        <th>block height</th>
        <th>block time</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>

<script>app.init_token_page(window.location.hash.substring(1))</script>
