<div class="rounded_row">
  <div>
    <h2>TokenGraph</h2>
    <h6><%= token.tokenDetails.tokenIdHex %></h6>
    <a href="#token/<%= token.tokenDetails.tokenIdHex %>">
      <button type="button" class="button button_red">Back to Token Page</button>
    </a>
    <button type="button" class="button button_red" id="reset-button">Reset Viewport</button>
  </div>
</div>

<div class="graph_container"></div>
