<%- contentFor('body') %>
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">View Transaction</h1>
</div>
<div id="token-details-table-container"></div>
<div class="table-responsive">
  <table class="table table-striped table-sm" id="tx-table">
    <thead class="thead-dark">
      <tr>
        <th>tokenIdHex</th>
        <th>inputs</th>
        <th>outputs</th>
        <th>block index</th>
        <th>block time</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>

<script>app.init_tx_page(window.location.hash.substring(1))</script>
