<div class="transaction_box">
  <div class="lh-100">
    <h2 class="mb-0 text-white lh-100">TxGraph</h2>
    <h6 class="mb-0"><%= tx.tx.h %></h6>
    <a href="#tx/<%= tx.tx.h %>">
      <button type="button" class="button button_red">Back to Tx Page</button>
    </a>
    <button type="button" class="button button_red" id="reset-button">Reset Viewport</button>
  </div>
</div>

<div class="graph_container"></div>
