<div class="transaction_box">
  <div>
    <div class="token-icon-large left" data-tokenid="<%= tx.slp.detail.tokenIdHex %>"></div>
    <div>
      <h2>TxGraph</h2>
      <h6><%= tx.tx.h %></h6>
      <a href="#tx/<%= tx.tx.h %>">
        <button type="button" class="button button_red">Back to Tx Page</button>
      </a>
      <button type="button" class="button button_red" id="reset-button">Reset Viewport</button>
    </div>
  </div>
</div>

<div class="graph_container"></div>
